.main-link a:hover {
  background-color: white;
}

.link-box:hover, .link-box:active, .link-box:focus {
  background-color: white;  
}

@media only screen and (min-width: 600px) {
  #heading {
    font-size: 10px;
    margin-top: 70vh;
    font-size: 4em;
  }
  #heading2 {
    font-size: 10px;
    font-size: 4em;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    font-size: 6em;
    z-index: 2;
  }
  #heading3 {
    font-size: 10px;
    font-size: 4em;
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    font-size: 6em;
    z-index: 2;
  }
  .backdrop {
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url('images/background_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: -1;
  } 
  .shine {
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    opacity: 0.6;
  }
  #johnny {
    background-size: cover;
    background-image: url('images/cash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    border-color: white;
    border-style: bold;
  } 
  .hr {
    padding: 0;
    margin: -10px -10px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  .backdrop2 {
    background-size: cover;
    margin: auto;
    margin-top: -10px;
    background-repeat: no-repeat;
    background-image: url('images/cowboy_black_and_white.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: -1;
  }
  .backdrop3 {
    background-size: cover;
    margin: auto;
    margin-top: -10px;
    background-repeat: no-repeat;
    background-image: url('images/weird.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: -1;
  }
  .image-container {
    margin-top: -10px;
  }
  img {
    overflow-y: scroll;
    display: block;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }

}

@media only screen and (max-width: 600px) {
   .link-box p {
      font-size: 0.75em; 
  }
  #heading {
    font-size: 2.3em;
    margin-bottom: 10px;
}

