html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* Video display */
body, html: {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cowboy_movie {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  transform: translate(-50%, -50%);
  overflow: hidden;
  object-flow: cover;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #3c4042;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

@media only screen and (min-width: 600px) {
  /* GLOBAL STYLES */
  #container {
    width: 90%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
  #container p {
    font-size: 1em;
  }
  body {
    font: Palatino Linotype, Times New Roman, Georgia;
  }
  h1 {
    padding: auto;
    text-shadow: 0 0 6px black;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.6em;
    text-shadow: 0 0 6px black;
  }
  li {
    text-shadow: 0 0 6px black;
  }
  a {
    color: lightgrey;
  }
  header {
    background: rgba(180, 150, 130, 0.5);
    margin-top: 0;
    padding-top: 20px;
    padding: 20px 10px;
    height: 20%;
  }
#second-header {
    background: rgba(180, 150, 130, 0.5);
    margin-top: 0;
    padding-top: 0;
    padding: 20px 10px;
    height:  20%
  }
#second-header h1 {
    padding-top: 7%;
  }
  h2 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
  }
  header h2 {
    font-size: 1.2em;
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    }
  #header-1, #header-2 {
      background: rgba(250, 250, 250, 0);
      }
  #header-2 {
      height: 20%
      }
  #second-header {
      position: absolute;
      height: 20%;
      }
  #header-2 h1 {
     font-size: 3rem;
     text-shadow: 5px 5px 10px white,
                   -5px -5px 10px white,
                   5px 5px 10px white,
                   -5px -5px 10px white;
    }
  header p {
    font-size: 4px;
    font-weight: bold;
  }
  .main-text {
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    color: #3c4042; /* Change text color to match body background */
    background-color: #f5f5dc; /* Change background color to contrast body background */
    width: 100%;
    padding: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .first {
    margin-top: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .second {
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
   .caption {
     position: relative;
     font-size: 0.75em;
     bottom: 0;
     left; 0;
     width: 100%;
     margin-top: -3.5em;
     margin-bottom: 0;
     background-color: rgba(0, 0, 0, 1);
     color: white;
     padding: 0.75em;
     box-sizing: border-box;
  }
  footer #credit-1 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 4px;
    margin-left; auto;
    margin-right: 2px;
    margin-top: -3rem;
    color: black;
    text-shadow: 2px 2px 8px white,
                 -2px -2px 8px white,
                 2px 2px 8px white,
                 -2px -2px 8px white;
               }

#credit-1 a {
    color: black;
  }
  footer {
    margin-top: 75%;
    margin-bottom: -5px;
    text-shadow: 0 0 6px black;
  }
  footer:last-of-type {
    margin-top: 3px;
    color: black;
  }
  hr {
    padding: 0;
    margin: 0 -10px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  /* HERO STYLES */
  .full-hero {
    background-size: cover;
    margin: auto;
    background-repeat: repeat-y;
    background-image: url("images/cowboy_background.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .inner-image {
    background-size: cover;
    background-image: url("images/cash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 800px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .space {
    height 20%;
    background-color: rgba(255, 255, 255, 1);
  }
  .full-hero-2 {
    background-size: cover;
    background-image: url("images/cowboy_black_and_white.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .full-hero-2 h1 {
    background-image: url('images/cowboy_negative.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-clip: text;
    color: transparent;
    box-sizing: border-box;
    font-size: 4rem;
    text-stroke: 4px white;
  }
  .full-hero-cash {
    background-size: cover;
    background-image: url("images/cash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
  }
  .full-hero-cancer {
    background-size: cover;
    background-image: url("images/cancer_man.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
  }

  .thin {
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    
    }
  .credits {
    display: block;
    background-color: black;
    color: white;
    font-size: 0.75em;
    margin-bottom: 4px;
    margin-left; auto;
    margin-right: 2px;
    margin-top: 75%;
  }
  .foot-head {
    margin-bottom: 0;
    margin-top: auto;
  }
  #text-block {
    display: block;
    padding: 15px 25px;
    margin: auto;
    margin-top: 0;
    position: relative;
    max-width: 800px;
    box-shadow: 0px 3px -4px rgba(100, 0, 50, 1);
    background: white;
    padding-bottom: 20px;
    overflow: visible;
  }
#text-block-top-margin {
    padding: 15px 25px;
    margin: auto;
    margin-top: 60%;
    position: relative;
    max-width: 800px;
    box-shadow: 0px 3px -4px rgba(100, 0, 50, 1);
    background: white;
    padding-bottom: 20px;
  }
#text-block-2 {
    padding: 15px 25px;
    margin: auto;
    margin-top: 255:;
    margin-bottom: 50px;
    position: relative;
    max-width: 800px;
    box-shadow: 0px 3px -4px rgba(100, 0, 50, 1);
    background: white;
    padding-bottom: 20px;
  }
  footer {
    margin-top: -30px;
    padding-left: 6px;
  } 
 
