html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  font: Palatino Linotype, Times New Roman, Georgia;
}
h1 {
  font-size: 7vw;
  padding: auto;
  text-shadow: 0 0 6px black;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 0.6em;
  text-shadow: 0 0 6px black;
}
li {
  text-shadow: 0 0 6px black;
}
a {
  color: lightgrey;
}
header {
  background: rgba(180, 150, 130, 0.5);
  margin-top: 0;
  padding-top: 20px;
  padding: 20px 10px;
}
#second-header {
  background: rgba(180, 150, 130, 0.5);
  margin-top: 0;
  padding-top: 0;
  padding: 20px 10px;
}
h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}
header h2 {
  font-size: 1.2em;
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}

#header-1, #header-2 {
  background: rgba(250, 250, 250, 0);
}
#header-2 h1 {
  font-size: 1.2rem;
  text-shadow: 5px 5px 10px white,
               -5px -5px 10px white,
               5px 5px 10px white,
               -5px -5px 10px white;
}
footer #credit-1 {
  display: block;
  background-color: black;
  color: white;
  font-size: 0.75em;
  margin-bottom: 4px;
  margin-left; auto;
  margin-right: 2px;
  margin-top: auto;
  margin-top: -30px;
  color: black;
  text-shadow: 2px 2px 8px white,
               -2px -2px 8px white,
               2px 2px 8px white,
               -2px -2px 8px white;
             }

#credit-1 a {
  color: black;
}
footer {
  margin-bottom: -10px;
  text-shadow: 0 0 6px black;
}
footer:last-of-type {
  margin-top: 3px;
  color: black;
}
hr {
  padding: 0;
  margin: 0 -10px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
/* HERO STYLES */
.full-hero {
  background-size: cover;
  background-image: url("images/cowboy_background.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  ;
}
.full-hero-3 {
  background-size: cover;
  background-image: url("images/cowboy_background.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  ;
}
.full-hero-2 {
  background-size: cover;
  background-image: url("images/cowboy_black_and_white.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  ;
}
.credits {
  display: block;
  background-color: black;
  color: white;
  font-size: 0.75em;
  margin-bottom: 4px;
  margin-left; auto;
  margin-right: 2px;
  margin-top: 75%;
}
.foot-head {
  margin-bottom: 0;
  margin-top: auto;
}
#text-block {
  padding: 15px 25px;
  margin: auto;
  margin-top: 50px;
  max-width: 700px;
  box-shadow: 0px 3px -4px rgba(100, 0, 50, 1);
  text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 1);
  background: rgba(250, 250, 250, 0.9);
}
/* SOCIAL STYLES */
.social-link {
  background: rgba(150, 150, 150, 0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: black;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 2.0rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 6.5em;
}
.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-list > li {
  margin: 5em;
}
.social-link p {
  font-size: 0.75em;
}

/* BIO STYLES */
.bio-wrapper {
  font-size: 24px;
  margin: auto;
  max-width: 960px;
  overflow: hidden;
}
.bio-box {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  padding: 2%;
  width: 23%;
}
.bio-box h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin: -40px 0 1em;
  text-align: center;
}
.bio-box img {
  width: 100%;
}
.bio-copy {
  font-size: 1em;
  line-height: 1.5;
}
.bio-copy a {
  color: green;
}

footer {
  margin-top: -30px;
  padding-left: 6px;
}
