<!DOCTYPE html>
<html>
  <head>
    <title>Cowboy Appreciation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css"> 
  </head>
  <body>
    <div class="full-hero hero-home">
      <h1>Cowboy Appreciation</h1>
      <ul class="social-list">
        <li>
          <a href="about.html" class="social-link">Fb</a>
        </li>
        <li>
          <a href="hall_of_fame.html" class="social-link">Tw</a>
        </li>
        <li>
          <a href="casting_call.html" class="social-link">Gh</a>
        </li>
      </ul>
    </div>
    <div class="bio-wrapper">
   </div>
 </body>
</html>

