<!DOCTYPE html>
<html>
  <head>
    <title>Cowboy Appreciation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css"> 
  </head>
  <body>
    <div class="full-hero hero-home">
      <h1>I'm an h1</h1>
      <ul class="social-list">
        <li>
          <a href="https://example.com/" class="social-link">Fb</a>
        </li>
        <li>
          <a href="https://example.com/" class="social-link">Tw</a>
        </li>
        <li>
          <a href="https://example.com/" class="social-link">Gh</a>
        </li>
      </ul>
    </div>
    <div class="bio-wrapper">
      <p></p>
    <h2>cowboy hall of fame</h2>
      <div class="bio-box">
        <img src="../images/cash.jpeg">
        <h3>Johnny Cash</h3>
        <div class="bio-copy">
          <p>
          ". . . my cowboy hero hats off to the man who rode a donkey. He's the greatest cowboy of them all."<br> 
          &nbsp;&nbsp;&nbsp;&nbsp;-Johnny Cash, on <a href=https://genius.com/Johnny-cash-the-greatest-cowboy-of-them-all-lyrics>the greatest cowboy of them all</a>.
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="../images/cancer_man.jpeg">
        <div class="bio-copy">
          <p>
          "I killed millions of people with lung cancer"<br>
          &nbsp;&nbsp;&nbsp;&nbsp;-The Marblo Man (paraphrased)
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="../images/william.jpeg">
        <h3>William Shakespeare</h3>
        <div class="bio-copy">
          <p>
          "To Yee-haw...<br>
          Or not to Yee-haw...<br>
          That is the question."<br>
          &nbsp;&nbsp;&nbsp;&nbsp;-William Shakespeare
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="../images/lil_nas_x.png">
        <h3>Lil Nas X</h3>
        <div class="bio-copy">
        <p>
        "Can't nobody tell me nothin'<br>
        You can't tell me nothin'<br>
        Can't nobody tell me nothin'<br>
        You can't tell me nothin'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;-Lil Nas X on his <a href=https://genius.com/Lil-nas-x-old-town-road-lyrics>old town road</a>
        </p>
        </div>
      </div>
    </div>
    <p>
      Learn Enough to Be Dangerous is a leader in the movement to teach the
      world <em>technical sophistication</em>, which includes both "hard
      skills" like coding, command lines, and version control, and "soft
       skills" like guessing keyboard shortcuts, Googling error messages, and
      knowing when to just reboot the darn thing.
    </p>
    <p>
      We believe there are <strong>at least a billion people</strong> who can
      benefit from learning technical sophistication, probably more. To join
      our movement,
      <a href="https://learnenough.com/#email_list">sign up for our official
      email list</a> now.
    </p>
    <h3>Background</h3>
    <p>
      Learn Enough to Be Dangerous is an outgrowth of the
      <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> and the
      <a href="https://www.softcover.io/">Softcover publishing platform</a>.
      This page is part of the sample site for
      <a href="https://learnenough.com/css-tutorial"><em>Learn Enough CSS and
      Layout to Be Dangerous</em></a>, which teaches the basics of
      <strong>C</strong>ascading <strong>S</strong>tyle
      <strong>S</strong>heets, the language that allows web pages to be styled.
      Other related tutorials can be found at
      <a href="https://learnenough.com/">learnenough.com</a>.
    </p>
  </body>
</html>

