    <h2>cowboy hall of fame</h2>
      <div class="bio-box">
				<img src="../images/cash.jpeg">
        <div class="bio-copy">
          <p>
          ". . . my cowboy hero hats off to the man who rode a donkey. He's the greatest cowboy of them all."<br> 
          &nbsp;&nbsp;&nbsp;&nbsp;-Johnny Cash, on <a href=https://genius.com/Johnny-cash-the-greatest-cowboy-of-them-all-lyrics>the greatest cowboy of them all</a>.
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="../images/cancer_man.jpeg">
        <div class="bio-copy">
          <p>
          "I killed millions of people with lung cancer"<br>
          &nbsp;&nbsp;&nbsp;&nbsp;-The Marblo Man (paraphrased)
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="../images/william.jpeg">
        <div class="bio-copy">
          <p>
          "To Yee-haw...<br>
          Or not to Yee-haw...<br>
          That is the question."<br>
          &nbsp;&nbsp;&nbsp;&nbsp;-William Shakespeare
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="../images/lil_nas_x.png">
        <div class="bio-copy">
        <p>
        "Can't nobody tell me nothin'<br>
        You can't tell me nothin'<br>
        Can't nobody tell me nothin'<br>
        You can't tell me nothin'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;-Lil Nas X on his <a href=https://genius.com/Lil-nas-x-old-town-road-lyrics>old town road</a>
        </p>
        </div>
      </div>
 
